RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL=AI Resume Analyzer <onboarding@resend.dev>
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Sonu@801
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=resume_analyzer_db
